<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @buoy.name %>
</p>

<p>
  <b>Coordinates:</b>
  <%= @buoy.coordinates %>
</p>


<%= link_to 'Edit', edit_buoy_path(@buoy) %> |
<%= link_to 'Back', buoys_path %>
